<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tachyonlabs.practicetodoapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activities.TodoListActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.SettingsActivity"
                android:parentActivityName=".activities.TodoListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.TodoListActivity"/>
        </activity>

        <activity
                android:name=".activities.AddOrEditTaskActivity"
                android:parentActivityName=".activities.TodoListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.TodoListActivity"/>
        </activity>

        <provider
                android:name=".data.TodoListProvider"
                android:authorities="com.tachyonlabs.practicetodoapp"
                android:exported="true"/>

        <receiver android:name=".widget.TodoListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/todo_list_widget_info"/>
        </receiver>

        <service
                android:name=".widget.TodoListWidgetRemoteViewsService"
                android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <receiver
                android:name=".broadcast_receivers.DailyAlarmReceiver"
                android:process=":remote">
        </receiver>

        <service
                android:name=".services.DueCheckIntentService"
                android:exported="false"/>

    </application>

</manifest>